<!DOCTYPE html>
<html>
  <head>
    <title>メモアプリ</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="h-screen w-screen flex justify-center items-center bg-gray-100">
    <main class="w-80 h-96 shadow bg-white p-4">
      <div class="mb-4 flex flex-row justify-between">
        <h1 class="text-lg font-bold">メモアプリ</h1>
        <a href="/memos/create" class="py-1 px-3 border border-gray-400 rounded text-sm bg-gray-200">追加</a>
      </div>
      <div class="m-2">
        <ol class="list-disc list-inside">
          <% memos.each_with_index do |memo, i| %>
            <li><a class="text-blue-400 visited:text-blue-800" href="/memos/<%= i %>"><%= memo['title'] %></a></li>
          <% end %>
        </ol>
      </div>
    </main>
  </body>
</html>
